@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

$fontMain: 'Open Sans', sans-serif;

$textoXl: 5rem;
$textoLg:4rem;
$textoMd: 3rem;
$textoSm: 2rem;
$textoColor: black;